[Unit]
Description=Jenkins Daemon

[Service]
ExecStart=/usr/bin/java -jar /home/jenkins/jenkins.war \
    --httpPort 8000 \
    --prefix jenkins \
    --httpListenAddress 127.0.0.1
User=jenkins

[Install]
WantedBy=multi-user.target
