[Unit]
Description=Jenkins Daemon

[Service]
EnvironmentFile=/home/jenkins/jenkins.env
ExecStart=/usr/bin/java \
    -jar /home/jenkins/jenkins.war \
    --httpPort=${PORT}
User=jenkins
Restart=always

[Install]
WantedBy=multi-user.target
